.characterSelector{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem 1rem;
    /* border-bottom: 1px solid #8080805c; */
    color: var(--text);
    text-shadow: 1px 1px 2px var(--secondary);
    font-weight: bold;
    background-color: #1C1D27;
    cursor: pointer;
}

.characterSelector__name{
    margin: 0.5rem 0rem;
    font-family: 'ScalaSans-bolder';
}

.characterSelector button{
    border: none;
    cursor: pointer;
    padding: 3px 0.5rem;
    background: transparent;
}

.characterSelector__icon{
   width: 1.2rem;
   filter: brightness(0) saturate(380%) invert(82%) sepia(62%) saturate(3328%) hue-rotate(6deg) brightness(30%) contrast(100%);
   cursor: pointer;
   vertical-align: bottom;
}

.--active{
    filter: brightness(0) saturate(380%) invert(82%) sepia(62%) saturate(3328%) hue-rotate(6deg) brightness(100%) contrast(100%);

}

.--selectorPressed{
    background-color: rgb(49, 52, 59);
}


/* MOBILE */
@media (max-width: 768px) {
    .characterSelector__name{
       font-size: 1rem;
    }
    
}
/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
   
}

/* DESKTOP */
@media (min-width: 1024px) {
  
} 
