.home-page{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--text);

}

/* ---LANDING BLOCK--- */

.landing{
  display: flex;
  width: 100vw ;
  height: 90vh;
  padding: 0px;
  margin: 0px;
  justify-content: flex-end;
  align-items: center;
    background-image: url('/background.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 1);
}


.landing__introduction{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 90vh;
width: 40%;
min-width: 700px;
padding: 0px;
margin: 20px 0px;
border-radius: 15px;
text-align: left;
font-size: 1.05rem;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.8015581232492998) 0%, rgba(0, 0, 16, 0.8099614845938375) 25%, rgba(0, 0, 16, 0.804359243697479) 65%, rgba(0, 0, 0, 0.8015581232492998) 100%);

}

.landing__h2{
  width: 80%;
  font-size: 2rem;
  text-align: center;

}

.landing__p{
  width: 80%;
  line-height: 1.8;
}

.landing__goSearch{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 1.2rem;
  border: 1px solid rgba(128, 128, 128, 0.476);
  padding: 0.4rem 2rem;
  background-color: rgba(128, 128, 128, 0.103);
  cursor: pointer;
  margin-top: 2.1rem;
}

.--goSearchPressed{
  background-color: rgba(128, 128, 128, 0.405);

}

.landing__goSearch img{
  width: 1.2rem;
  padding-left: 1rem;
}


.access-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  top: 10vh;
  background-color: rgba(47, 47, 47, 0.395);
  position: absolute;
  
}



.access-modal.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.5s ease;
}

.access-modal.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 0.5s ease;
}


.access-modal:nth-child(-n + 2){
  background-color: rgba(0, 0, 0, 0.801);

}

.access-modal__wrapper{
  background-color:var(--secondaryTransparent);


}

/* ---SEARCH-SELECTOR BLOCK--- */

.search-selector{
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem ;

}

.search-selector__btn{
    font-family: 'Philosopher', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text);
    background-color: var(--secondary);
    border: none;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 2px;
    text-shadow: 1px 1px 2px var(--secondary);
    cursor: pointer;
}

.--selected{
    border: solid 2px white;
    margin: 8px;
}

.search-form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 375px;

  width: 100%;
}





/* CSS TRANSITION */


.search-appear-exit {
  opacity: 0;
}
.search-appear-exit-active {
  opacity: 1;
  transition: opacity 800ms;
}
.search-appear-exit-done {
  opacity: 1; 
}
/* ---------------- */

.search-appear-enter {
  opacity: 0;
}
.search-appear-enter-active {
  opacity: 1;
  transition: opacity 800ms;
}
.search-appear-enter-done {
  opacity: 1;
}





/* MOBILE */
@media (max-width: 768px) {
    

    /* ---LANDING BLOCK--- */

    .landing{
      justify-content: center;
      align-items: flex-end;
      height: 90vh;
      background-size: contain;
    }
    .landing__introduction{
      justify-content: space-evenly;
      width: 100%;
      min-width: auto;
      height: auto;
      padding: 10px;
      margin: 0px;
      font-size: 0.8rem;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.8015581232492998) 0%, rgba(0, 0, 16, 0.8099614845938375) 25%, rgba(0, 0, 16, 0.804359243697479) 65%, rgba(0, 0, 16, 0.1515581232492998) 100%);
    }

    .landing__h2{
      padding: 0.5rem 1rem;

    }

    .landing__p{
      width: 90%;
    }

    .landing__goSearch{
      font-size: 0.9rem;
    }

    /* ---SEARCH-SELECTOR BLOCK--- */

    .search-selector__btn{
      font-size: 1rem;
    }


  }


  /* TABLET */
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* ---LANDING BLOCK--- */

    .landing{
      height: auto;
      justify-content: center;
    }

    .landing__introduction{
      font-size: 1rem;
      width: 90%;
      height: 85vh;
      min-width: auto;
      justify-content: flex-end;
      background: transparent;
    }

    .landing__h2{
      background-color: rgba(0, 0, 0, 0.552);
    }

    .landing__p{
      width: 90%;
    }
  }
  
  /* DESKTOP */
  @media (min-width: 1024px) {
    
  } 



