.home-page{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--text);
    background: #1C1D27;
    /* background: linear-gradient(0deg, rgba(28,29,39,1) 20%, rgba(24,46,53,1) 100%); */
    animation-name: appear;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
}

/* ---LANDING BLOCK--- */

.landing{
  display: flex;
  position: relative;
  width: 100vw ;
  height: 93vh;
  padding: 0px;
  margin: 0px;
  justify-content: flex-end;
  align-items: center;
}

.landing::before {    
  box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.555);
  content: "";
  background-image: url('/background-home.webp');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
  
}


.landing__introduction{
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 93vh;
  width: 40%;
  min-width: 700px;
  padding: 0px;
  margin: 20px 0px;
  text-align: left;
  font-size: 1.05rem;
  background: linear-gradient(0deg, rgb(40 56 61 / 80%) 0%, rgb(28 42 43 / 76%) 100%)

}

.landing__h2{
  width: 70%;
  font-size: 2rem;
  text-align: center;
  font-family: 'MrEaves';

}

.landing__p{
  width: 70%;
  line-height: 1.8;
  font-family: 'ScalaSans-li';
}

.landing__goSearch{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 1.2rem;
  border: 1px solid rgba(128, 128, 128, 0.306);
  padding: 0.4rem 2rem;
  background-color: #1c1d27a6;
  cursor: pointer;
  margin-top: 2.1rem;
}

.--goSearchPressed{
  background-color: rgba(128, 128, 128, 0.405);

}

.landing__goSearch img{
  width: 1.2rem;
  padding-left: 1rem;
}


.access-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0vh;
  left: 0px;
  background-color: rgba(47, 47, 47, 0.395);
  position: fixed;
}

.access-modal.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.5s ease;
  z-index: 200;
}




.access-modal.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 0.5s ease;
  z-index: 1;

}


.access-modal:nth-child(-n + 2){
  background-color: rgba(0, 0, 0, 0.691);

}


.access-modal__wrapper{
  background-color:var(--secondaryTransparent);


}

/* ---SEARCH-SELECTOR BLOCK--- */

.search-selector{
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem ;

}

.search-selector__btn{
    /* font-family: 'Philosopher', sans-serif; */
    font-family: 'ScalaSans-bolder';
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--text);
    background-color: var(--primary);
    border: none;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 2px;
    /* text-shadow: 1px 1px 2px var(--secondary); */
    cursor: pointer;
}

.--selected{
    border: solid 1px var(--text);
    margin: 8px;
}

.search-form-container{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  min-height: 375px;

  width: 100%;
}





/* CSS TRANSITION */


.search-appear-exit {
  opacity: 0;
}
.search-appear-exit-active {
  opacity: 1;
  transition: opacity 800ms;
}
.search-appear-exit-done {
  opacity: 1; 
}
/* ---------------- */

.search-appear-enter {
  opacity: 0;
}
.search-appear-enter-active {
  opacity: 1;
  transition: opacity 800ms;
}
.search-appear-enter-done {
  opacity: 1;
}





/* MOBILE */
@media (max-width: 768px) {
    

    /* ---LANDING BLOCK--- */

    .landing{
      justify-content: center;
      align-items: flex-end;
      height: 93vh;
      background-size: contain;
    }
    .landing__introduction{
      justify-content: space-evenly;
      width: 100%;
      min-width: auto;
      height: auto;
      padding: 10px;
      margin: 0px;
      font-size: 0.8rem;
      background: linear-gradient(0deg, rgba(40, 56, 61, 0.802) 85%, rgba(28, 40, 43, 0) 100%)

    }

    .landing__h2{
      padding: 0.5rem 1rem;

    }

    .landing__p{
      width: 90%;
    }

    .landing__goSearch{
      font-size: 0.9rem;
    }

    /* ---SEARCH-SELECTOR BLOCK--- */

    .search-selector__btn{
      font-size: 1rem;
    }


  }


  /* TABLET */
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* ---LANDING BLOCK--- */
    .landing{
      justify-content: center;
      align-items: flex-end;
      height: 90vh;
      background-size: contain;
    }
    .landing__introduction{
      justify-content: space-evenly;
      width: 100%;
      min-width: auto;
      height: auto;
      padding: 10px;
      margin: 0px;
      font-size: 0.8rem;
      background: linear-gradient(0deg, rgb(40 57 61 / 80%) 90%, rgb(28 37 43 / 22%) 100%)
    }

  

    .landing__p{
      width: 90%;
    }
  }
  
  /* DESKTOP */
  @media (min-width: 1024px) {
    
  } 



