:root{
  --primary: #23886a;
  --secondary:#212121;
  --secondaryTransparent:#21212182;
  --terciary: #7cb8a6;
  --text:#e4e4e4;
  --accent: #17fcb7;
  --special: #b9b88d;
  --error: #ed8282;
  font-family: 'Philosopher', sans-serif;
  letter-spacing: 0.1rem;

}

@font-face {
  font-family: 'ScalaSans';
  src: url('../fonts/Scala-Sans.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ScalaSans-it';
  src: url('../fonts/Scala-Sans-Regular-Italic.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ScalaSans-li';
  src: url('../fonts/Scala-Sans-Light.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ScalaSans-bo';
  src: url('../fonts/Scala-Sans-Bold.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ScalaSans-bo-it';
  src: url('../fonts/Scala-Sans-Bold-Italic.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ScalaSans-bolder';
  src: url('../fonts/Scala-Sans-SC-Bold.otf') format("opentype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'MrEaves';
  src: url('../fonts/Mrs-Eaves-Small-Caps.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}



html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
  background-color: black;
  -webkit-tap-highlight-color: transparent;
}

#root { 
  margin: 0;
  width: 100vw;
  height: 100vh;
}



/*TEMPLATE FOR DESKTOP, TABLET AND MOBILE RESOLUTIONS*/

 
/* MOBILE */
@media (max-width: 768px) {
  
}
/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* DESKTOP */
@media (min-width: 1024px) {
  
} 

