:root{
  --primary: #23886a;
  --secondary:#212121;
  --secondaryTransparent:#21212182;
  --terciary: #7cb8a6;
  --text:#e4e4e4;
  --accent: #17fcb7;
  --special: #b9b88d;
  --error: #ed8282;
  font-family: 'Philosopher', sans-serif;
  letter-spacing: 0.1rem;

}

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
  background-color: black;
}

#root { 
  margin: 0;
  width: 100vw;
  height: 100vh;
}



/*TEMPLATE FOR DESKTOP, TABLET AND MOBILE RESOLUTIONS*/

 
/* MOBILE */
@media (max-width: 768px) {
  
}
/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* DESKTOP */
@media (min-width: 1024px) {
  
} 

