

/* LAYOUT COMPONENT */
.layout{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}




/*NAV BLOCK*/
.nav{
    background-color: black;
    color: var(--text);
    font-weight: bold;
    height: 10vh;
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 0px 1px 2px black;
}

.nav__smoke{
    display: none;
}

.nav__h1{
    margin: 0 20px;
    text-shadow: 1px 1px 2px var(--secondary);
}



.nav__menu{
    display: flex;
}

.nav__btn{
    display: none;

}

.nav__ul{
    display: flex;
    height: 10vh;
    margin: 0px;
    list-style: none;
    align-items: center;
    font-family: 'ScalaSans-bolder';
    /* font-weight: lighter; */
}

.nav__li{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 3px;
    
}

.nav__a.active{
    color: var(--accent);
    text-shadow: 1px 1px 2px var(--secondary);
    
}

.nav__a{
    color: var(--text);
    text-decoration: none;
}



/* PAGES COMPONENT */
.pages{
    width: 100%;
    /* min-height: 90vh; */
    margin-top: 10vh;
    background-color: black;
}




/* MOBILE */
@media (max-width: 768px) {

    .nav__smoke{
        display: flex;
        position: absolute;
        height: 200vh;
        width: 100dvw;
        background-color: black;
        opacity: 0.5;
    }

    .nav__h1{
        font-size: 1.5rem;

    }
    .nav__a{
        font-size: 1rem;

    }
    .nav__menu{
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        height: 90vh;
        top: 10vh;
        right: 0;
     
       /* background-color: rgba(0, 0, 0, 0.357); */
    }


    .nav__btn{
        position: absolute;
        display: block;
        top: -5.7rem;
        width: 1.5rem;
        padding: 2.5rem;
    
    }

    .-on{
        opacity: 1;
        right: 0px;

    }

    .-off{
        opacity: 1;
        right: -230px;

    }

    .nav__ul{
       position: absolute;
       flex-direction: column;
       height: auto;
       border-bottom-left-radius: 0.5rem;
       padding: 0;
       background-color: rgb(0, 0, 0);
       transition: all 500ms;
       letter-spacing: 0.1rem;
    }

    .nav__li{
        width: 5.5rem;
        margin: 0.3rem;
        padding: 1rem;
    }
  }


  
/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    .nav__h1{
        font-size: 2rem;
        
    }
    .nav__a{
        font-size: 1rem;
    }
  }
  


/* DESKTOP */
@media (min-width: 1024px) {
    .nav__h1{
        font-size: 3rem;

    }
    .nav__a{
        font-size: 1.3rem;

    }
    
} 