.loading-screen--small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* min-height: 200px; */
    color: var(--text);
}

.loading-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 778px;
    color: var(--text);
}




.loading-screen__img{
    width: 4rem;
}