.manageCharacters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem 0.5rem;
    margin-top: 2rem;
    width: 700px;

}

.manageCharacters__dataDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 41%;
}

.manageCharacters__dataDiv h1{
    font-family: 'MrEaves';
}

.manageCharacters__statsDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
}



.manageCharacters__classLevelDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}


.manageCharacters__levelDiv{
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.manageCharacters__controlDiv{
display: flex;
justify-content: space-between;
width: 75px;
}

.manageCharacters__table{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.manageCharacters__tableDiv{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 0.5rem;
}

.manageCharacters__row{
    display: flex;
    width: 160px;
    justify-content: space-between;
    align-items: center;
}

.manageCharacters__statDiv{
    display: flex;
    width: 75px;
    gap: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
}

.manageCharacters__stat{
color: var(--accent);
margin: 0px 0.2rem;
}

.manageCharacters__button{
    width: 45%;
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    color: var(--text);
    background-color: var(--primary);
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 0.1rem;
    transition: all 100ms ease-in-out;
    font-family: 'ScalaSans-bolder';
}

.manageCharacters__control{
    background-color: var(--secondary);
    border: solid 1px var(--text);
    color: var(--text);
    margin: 0px 0.3rem;
    width: 1.8em;
    cursor: pointer;
}

.manageCharacters__confirm{
    display: none;
    color: rgb(198, 255, 227);
}

.--disabledBtn{
    background-color:rgb(198, 255, 227);
    color: var(--secondary);
}

/*----------- CSS-TRANSITION---------- */

.manageCharacters__confirm-enter {
    display: flex;
    opacity: 0;
    top: 800px
  }
  .manageCharacters__confirm-enter-active {
    display: flex;
    opacity: 1;
    top: 80px;
    transition: top 150ms, opacity 150ms ease-in-out;
  }
  .manageCharacters__confirm-enter-done {
    display: flex;
    opacity: 1;
    top: 80px;
    transition: top 150ms, opacity 150ms ease-in-out;
  }
  .manageCharacters__confirm-exit {
    display: flex;
    opacity: 1;
    top: 80px;
  }
  .manageCharacters__confirm-exit-active {
    display: flex;
    opacity: 0;
    top: 800px;
    transition: top  150ms, opacity 150ms ease-in-out;
  }
  .manageCharacters__confirm-exit-done {
    display: none;
    opacity: 0;
    top: 800px;
    transition: top  150ms, opacity 150ms ease-in-out;
  }


/* MOBILE */
@media (max-width: 768px) {

    .manageCharacters{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.8rem 1.5rem;
        margin-top: 0rem;
        width: 320px;
        max-width: none;
        min-width: 0;
    }

    .manageCharacters__dataDiv{
        width: 80%;
    }
    
    .manageCharacters__statsDiv{
        width: 50%;
        border-top: 1px solid #808080a6;
    }
    

    .manageCharacters__table{
        justify-content: space-between;
        margin: 2rem 0rem;
    }
  
    .manageCharacters__tableDiv{
        width: auto;
    }

    .manageCharacters__button{
        width: 100%;
    }


    .manageCharacters__control{
        margin: 2px;
        width: 1.9em;
    }

}
/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
  

}

/* DESKTOP */
@media (min-width: 1024px) {
  
} 