.search-placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.4;
    font-weight: bold;
}

.search-placeholder__image{
    width: 200px;
    opacity: 0.5;
  }




/* ------------------QUICK SEARCH BLOCK--------------------- */

.quickSearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;

    width: 100%;
}

.quickSearch__help{
    color: rgba(238, 238, 238, 0.362);
    font-size: 0.7rem;
    padding-top: 1rem;
}


.quickSearch__form{
    display: flex;
    margin: 0px 20px;
    width: 40vw;
    border: 0px solid black;
    align-self: center;
    justify-content: center;
    padding: 0.3rem 0rem;
}

.quickSearch__input{
    width: 85%;
    border-radius: 2px;
    background: rgb(194, 193, 193);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 5px;
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
    font-weight: bold;

}

.quickSearch__input:focus-visible{
    outline: 3px solid var(--accent);
    background-color:var(--terciary);
    

}

.quickSearch__btn{
    margin-left: 0.3rem;
    /* font-family: 'Philosopher', sans-serif; */
    font-size: 1rem;
    align-self: flex-end;
    font-family: 'ScalaSans-bolder';
    font-weight: bold;
    color: var(--text);
    background-color: var(--primary);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}





.quickSearch__dropdown-ul{
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    margin: 0px 20px;
    padding: 0px;
    width: 40vw;
    list-style: none;
    box-shadow: inset 0 0 0px 3px rgba(133, 226, 125, 0.317)
}

.quickSearch__dropdown-li{
    border: 0px solid rgba(0, 0, 0, 0.205);
    width: 98%;
    margin: 0px;
    padding: 1% 0% 1% 2%;
    cursor: pointer;

    
}

.quickSearch__dropdown-li:hover{
background-color: var(--accent);
color: var(--secondary);
}



/* ------------------ADVANCED SEARCH BLOCK--------------------- */



.advancedSearch{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin: 20px 20px;

}

.advancedSearch__form{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.advancedSearch__options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}


.advancedSearch__options div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'ScalaSans-bolder';
}
.advancedSearch__options label{
    font-weight: bold;
    margin: 10px;
}

.advancedSearch__options select{
    font-family: 'ScalaSans-bolder', sans-serif;
    margin: 0rem 0.5rem;
    text-align: center;
    background-color: #1C2A2F;
    color: var(--accent);
    border-radius: 3px;
    border: 1px solid rgba(41, 255, 173, 0.09);
    font-size: 1rem;
    height: 2rem;

}


.advancedSearch__resultsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.advancedSearch__resultsDiv--long{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 800px;
}

.advancedSearch__pagesDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 200px;
}

.advancedSearch__pageCountDiv{
    display: flex;
    gap: 0rem 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.2rem 0rem;
    font-family: 'ScalaSans-bolder';

}

.advancedSearch__pageControls{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    background-color: var(--primary);
    color: var(--text);
    border: none;
    cursor: pointer;
    padding: 0.2rem 0rem;
    border-radius: 2px ;
    font-family: 'ScalaSans-bolder';
}

.advancedSearch__pageControls:disabled{
    background-color: var(--terciary);
    color: grey;
    cursor:default;
    opacity: 0.5;

}

.advancedSearch__pageControls > img{
    width: 20px;
    filter: brightness(0) saturate(100%) invert(96%) sepia(3%) saturate(848%) hue-rotate(327deg) brightness(106%) contrast(79%);
}


.results{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 100px; */
}
.results__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding: 0px;
    width: 100%;
}


.--searchPressed{
    background-color: var(--terciary);
    color: var(--secondary);
}


/* MOBILE */
@media (max-width: 768px) {
    
    .quickSearch__form{
        margin: 0px;
        width: 95%;
    }

    .quickSearch__btn{
        font-size: 1rem;
    }

    .quickSearch__dropdown-ul{
        width: 95%;
    }

    .advancedSearch__options{
        gap: 0.5rem 0rem;
    }

  
}
/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {

    .quickSearch__form{
        margin: 0px;
        width: 70%;
    }

    .quickSearch__dropdown-ul{
        width: 70%;
    }

    
  
}

/* DESKTOP */
@media (min-width: 1024px) {

    .advancedSearch{
        width: 40vw;
    }
    /* .advancedSearch__options select{
    
    } */
  
} 

