


.spellCard-container{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    padding: 0.75rem 0rem;
    line-height: 1.3;
    background-color: rgba(0, 0, 0, 0);
}

.spellCard-container__no-matches{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}



.spellCard{
    width: 70%;
    color: var(--text);
    border-radius: 0.2rem;
    /* border: 0.1rem solid rgb(115 112 112 / 19%); */
    transition: all 500ms;
    box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.283);

}

.spellCard__ritualConcentration{
  color: rgb(182, 240, 182);
  padding: 0rem 0.2rem;
  background-color: rgba(255, 255, 255, 0.055);
  border: 1px solid rgba(71, 71, 71, 0.47);
}

.spellCard__controllers{
  display: flex;
}

.spellCard__details{
  padding:  1rem 1rem 1rem 0.5rem;
  cursor: pointer;
}

.spellCard__add{
  padding:  1rem 0.5rem 1rem 1rem;
  justify-self: end;
  cursor: pointer;
}

.spellCard__likes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  1rem 0.5rem 1rem 0.5rem;
  justify-self: end;
  cursor: pointer;
  width: 2rem;
}

.spellCard__likeValue{
  padding-left: 0.4rem;
  font-size: 0.7rem;
  opacity: 0.8;
  /* font-family: 'MrEeaves'; */
  
}

.spellCard__details-icon{
width: 1.1rem;
}

.spellCard__details-loading-icon{
  width: 1.1rem;
  }

.spellCard__header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* background-color: rgb(18 22 22 / 70%); */
    background-color: #242c33e6;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ; 

}

.spellCard__name{
  width: 100%;
  padding-top: 0.7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding-bottom: 0.7rem; */
  
}

.spellCard__title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    white-space: nowrap;

}

.spellCard__title h2{
  margin: 0;
  display: inline-block;
  text-shadow: 0px 0px 2px white;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 400px;
}

.spellCard__titleInfo{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* auto-fill here */
  grid-template-rows:auto; /* first row auto */
  grid-auto-rows: 0; /* all the other rows 0 */
  overflow: hidden; /* hide the overflow */
}
.spellCard__titleInfo span{
  font-size: 0.8rem;
  color: rgba(240, 248, 255, 0.649);
  font-family: 'ScalaSans-bolder';
  padding-left: 10px ;
}



.spellCard__subtitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.3rem;
    font-size: 0.8rem;
    padding-bottom: 0.7rem;

}

.spellCard__icon{
    object-fit: contain;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding: 0rem 0.7rem;
    opacity: 0.75;
    z-index: 1;
}

.spellCard__body{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color:#29343fe6;
}


.spellCard__gridWrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0rem 0.3rem;

}

.spellCard__gridItem{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'ScalaSans-bolder';
  padding: 0.5rem 2rem;
}


.spellCard__gridSpan{
  color: rgb(186, 186, 186);
  font-size: 0.9rem;
  font-family: 'ScalaSans-li';

}

.spellCard__hr{
  width: 95%;
  border: none;
  border-top: 1px solid #c4c4c458;
}


.spellCard__description{
  padding: 0rem 2.3rem;
  border-radius: 0.5rem;
  color: rgba(240, 248, 255, 0.649);
  white-space: pre-line;
  line-height: 1.5rem;
font-size: 0.9rem;
  font-family: 'ScalaSans-li';
  
}

.spellCard__descriptionTitle{
  font-size: 1rem;
  font-family: 'ScalaSans-bolder';
  color: var(--text);
}

.spellCard__footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem 1rem 0;
}


.--addPressed{
  filter: brightness(0) saturate(100%) invert(94%) sepia(14%) saturate(398%) hue-rotate(102deg) brightness(89%) contrast(88%);
  scale: 1.1;
}

.--deletePressed{
  scale: 1.1;
}

.preparePressed{
  scale: 1.1;
}

/* CSS TRANSITION */

.showSpellCardBody-appear {
  opacity: 0;
  display: none;
}
.showSpellCardBody-appear-active {
  opacity: 0;
  transition: opacity 500ms;
}
.showSpellCardBody-appear-done {
  opacity: 0;
  display: none;
}

.showSpellCardBody-exit {
  opacity: 0;
}
.showSpellCardBody-exit-active {
  opacity: 1;
  transition: opacity 500ms;
}
.showSpellCardBody-exit-done {
  opacity: 1; 
}
/* ---------------- */

.showSpellCardBody-enter {
  opacity: 1;
  height: auto;
}
.showSpellCardBody-enter-active {
  display: none;
  opacity: 0;
  transition: opacity 500ms;
}
.showSpellCardBody-enter-done {
  display: none;
  opacity: 0;
  transition: opacity 500ms;
}

/* ---------------- */

.arrowRotate-exit {
  transform: rotate(0deg);
  
}
.arrowRotate-exit-active {
  transform: rotate(180deg);
  transition: transform 300ms;
}
.arrowRotate-exit-done {
  transform: rotate(180deg);
}

.arrowRotate-enter {
  transform: rotate(180deg);
}
.arrowRotate-enter-active {
  transform: rotate(0deg);
  transition: transform 300ms;
}
.arrowRotate-enter-done {
  transform: rotate(0deg);
 
}




/* MOBILE */
@media (max-width: 768px) {

  html, body {
    font-size: 0.5rem;
  }

  .spellCard{
    width: 90vw;
      
  }

  .spellCard__title h2{
    font-size: 1rem;
  }

  .spellCard__titleInfo{
    display: none;
  }

  .spellCard__body{
    font-size: 0.9rem;
  }

  .spellCard__gridItem{
    padding: 0.5rem 0rem;
  }

  .spellCard__gridSpan{
    font-size: 0.8rem;

  }

  .spellCard__hr{
    width: 93%;
     
  }

  .spellCard__description{
    padding: 0rem 0.8rem;
    font-size: 0.8rem;
  }
    
  }
  /* TABLET */
  @media (min-width: 768px) and (max-width: 1024px) {
    html, body  {
      font-size: 0.5rem;
    }

    .spellCard__title h2{
      font-size: 1.2rem;
    }

    /* .spellCard__titleInfo{
      grid-template-columns: repeat(2, 1fr);
    }

    .--hideGridItem3{
      display: none;
    } */
  }
  
  /* DESKTOP */
  @media (min-width: 1024px) {
    html, body  {
      font-size: 1rem;
    }

    .spellCard__title h2{
      font-size: 1.2rem;
    }
  } 